body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: grey;
    background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
    background:    -moz-linear-gradient(#648880, #293f50);
    background:         linear-gradient(#648880, #293f50);


}
/*
.navbar-default {
    background-color: #5978b6;
    border-color: #4455ad;
}
.navbar-default .navbar-brand {
    color: #f2f5f6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #29344f;
}
.navbar-default .navbar-text {
    color: #f2f5f6;
}
.navbar-default .navbar-nav > li > a {
    color: #f2f5f6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #29344f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #29344f;
    background-color: #4455ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #29344f;
    background-color: #4455ad;
}
.navbar-default .navbar-toggle {
    border-color: #4455ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4455ad;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f2f5f6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #f2f5f6;
}
.navbar-default .navbar-link {
    color: #f2f5f6;
}
.navbar-default .navbar-link:hover {
    color: #29344f;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f2f5f6;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #29344f;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #29344f;
        background-color: #4455ad;
    }
}*/



html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: lightsteelblue;
  background-image: url('http://hdw.datawallpaper.com/architecture/vintage-new-york-city-299988.jpg');
  background-position: center;
  background-size: cover;
  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  background-blend-mode: overlay;
}

#navbar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #222;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#navbar li {
  position: relative;
  float: left;
  line-height: 60px;
  background: inherit;
  text-align: center;
  transition: all .2s;
}

#navbar li a {
  position: relative;
  display: block;
  padding: 0 20px;
  line-height: inherit;
  color: white;
  text-decoration: none;
}

#navbar li:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background: #222;
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all 0, background .2s;
}

#navbar li:hover:before {
  margin-top: 1px;
  border-radius: 50% 50% 0 50%;
  transition: all .1s, background .2s, margin-top .2s cubic-bezier(.5, 30, .2, 0);
}

#navbar li:hover,
#navbar li:hover:before {
  background: #3a3a3a;
}

#navbar li.active,
#navbar li.active:before {
  background: steelblue;
}